/* О нас */
.aboutus .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  
  .aboutus nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .aboutus h2 {
    font-weight: lighter;
  }
  
  .aboutus header {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  
  .aboutus .about {
    text-align: center;
    color: #DFEFFF;
    padding: 40px;
  }
  
  .aboutus .title {
    font-size: 22px;
    color: #ff7300;
  }
  
  .aboutus .desc {
    color: #DFEFFF;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 70%;
    margin: 0 auto;
  }
  
  @media (max-width: 630px) {
    .aboutus .title {
      font-size: 18px;
    }
  }
  .aboutus .row {
    width: 95%;
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  
  @media (max-width: 494px) {
    .aboutus .row {
      flex-direction: column;
    }
  }
  .aboutus .card {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .aboutus .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    transition: transform .4s;
  }
  
  .aboutus .fas, .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    transform: translate(-52%, 75%);
    font-size: 40px;
  }
  
  .aboutus .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    transition: color .2s;
  }
  
  .aboutus .card:hover .card_title {
    color: #4bd482;
  }
  
  .aboutus .card:hover .card_img {
    transform: translate(0px, -10px);
  }
  
  .aboutus .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
  /* Использование куки */
  .cookieconsent .card {
    flex-direction: column;
    min-width: 0;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  
  .cookieconsent .learn-more {
    text-decoration: none;
    color: #000;
    margin-top: 8px;
  }
  
  .cookieconsent .learn-more:hover {
    text-decoration: none;
    color: blue;
    margin-top: 8px;
  }